// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #228B22;
$secondary: #1a5189;
$fond : #F9F9F9;
$black: #292222; 

$font-family-sans-serif :"play fair display", sans-serif !default;
$font-family-serif :"lora", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here




